@import "tailwindcss";

    @theme {
    --color-mint-500: oklch(0.72 0.11 178);
    --color-custom-blue: #00243F;
    --color-custom-gold: #CDAD7D;
    --color-custom-white: #EBEBEB;

    --font-inter: 'Inter', 'sans-serif';
    --font-montserrat: 'Montserrat', 'sans-serif';
    --aspect-normal: 16 / 9; 

    
    }